<!DOCTYPE html>
<html>
<body>

<div class="navbar">
    {% include "components/navbars/navbar.html" %}
</div>

<h1>Home</h1>

Special offers
<div style="padding-left: 5%;" id="offers">

</div>

<script>
offers = document.getElementById('offers');
d = [
    {"name": "Christmas sale", "id": "sale-1"},
    {"name": "Weekly sales", "id": "sale-2"}
];

d.forEach(el => {
    let ne = document.createElement('a');
    ne.appendChild(document.createTextNode(el['name']));
    ne.setAttribute('href', '/offers/'+el['id']);
    offers.appendChild(ne);
    offers.appendChild(document.createElement('br'))
});

</script>

</body>
</html>