<!DOCTYPE html>
<html>
<body>

<div class="navbar">
    {% include "components/navbars/navbar.html" %}
</div>

<h1>Hello World!</h1>
<p>Order</p>

<script>

    function login(email, password) {
      console.log(email, password)

      const token = localStorage.getItem('Token');
    
      apiUrl = 'https://127.0.0.1:8000/api/v1/OrderService'
      
      fetch(apiUrl,{
    method: "GET",
    body: JSON.stringify({
      Token: token
    })})
    


      .then(response => {
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            resp = response.json();
            
        })
    
    }
    
    </script>

</body>
</html>