<script>
window.onload = function checkCookie() {
    token = localStorage.getItem("Token")
    fetch("http://127.0.0.1:8000/api/v1/verify-token/", {
    method: "POST",
    body: JSON.stringify({
      token_key: token
    }),
    headers: { 'Content-Type': 'application/json' }
  }).then((response) => response.json()) .then((resp) => {
        if (!resp.params.return.valid || resp.params.return.groups != "superuser") {
            location.replace("/login")
        }
    })
}
</script>

<div style="overflow: hidden;">
    <div style="text-align: left; float: left">
        <b>Eshop</b>
    </div>

    <div style="text-align: right; overflow: hidden;">
        <a style="padding: 5px" href="/">Home</a>
        <a style="padding: 5px" href="/search">Search</a>
        <a style="padding: 5px" href="/account">Account</a>
        <a style="padding: 5px" href="/cart">Cart</a>
    </div>
</div>

<hr>
